/* Style général */
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #053f5e;
}
h1{
  color: #f2f2f2;
}
h2{
  color: #f2f2f2;
  background-color:#ffd700;
  display: inline-block;
}
/* Barre de navigation */
.topnav {
  background-color: #043550;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ffd700;
  color: black;
}

.topnav .logo img {
  height: 30px;
  margin: 10px;
}

/* Contenu principal */
.container {
  width: 80%;
  height: 50%;
  background-color: #115173;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px /*auto 0*/;
  text-align: center;
  padding: 10px;
  color: #f2f2f2;
}
.page_admin{
  display: flex;
  flex-direction: row;
  align-items: normal;
  justify-content: space-evenly;
  margin: 10px auto;
  text-align: center;
  padding-top: 0px;
}
button {
  cursor:pointer;
  margin: 5px;
  color: #f2f2f2;
  background-color: #226C94;
  border: none;
  text-align: center;
  padding: 14px 16px;
  font-size: 17px;
}
button:hover{
  background-color: #ffd700;
  color: black;
}
.container h1 {
  color: white;
  font-size: 24px;
  margin-bottom: 20px;
}


/* Barre de pied de page */
.bottomfooter {
  margin-top: 20px;
  background-color: #043550;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  padding: 5px;
  width: 100% auto;
  color: white;
}

.réseau-sociaux {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.réseau-sociaux img {
  width: 100%;
  height: auto;
  display: block;
}

.bottomfooter .logo img {
  height: 30px;
  margin: 10px;
}
