/* Style général */
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #053f5e;
}

/* Barre de navigation */
.topnav {
  background-color: #043550;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ffd700;
  color: black;
}

.topnav .logo img {
  height: 30px;
  margin: 10px;
}

/* Contenu principal */
.container {
  width: 80%;
  height: 50%;
  background-color: #115173;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px auto 0;
  text-align: center;
  padding-top: 20px;
}

.container h1 {
  color: white;
  font-size: 24px;
  margin-bottom: 20px;
}

.container .content {
  text-align: left;
  padding-left: 20px;
  overflow-wrap: break-word;
  max-width: 3000px;
}

.contenue {
  display: flex;
  justify-content: space-between;
}

.container .content p {
  color: white;
  font-size: 14px;
  margin-bottom: 25px;
  word-wrap: break-word;
  max-width: 3200px;
}

/* Barre de pied de page */
.bottomfooter {
  margin-top: 20px;
  background-color: #043550;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  padding: 5px;
  width: 100% auto;
  color: white;
}

.réseau-sociaux {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.réseau-sociaux img {
  width: 100%;
  height: auto;
  display: block;
}

.bottomfooter .logo img {
  height: 30px;
  margin: 10px;
}

/*-------------------------POP UP--------------------------------*/

/* popup Inscription Rayan */

.popup1 {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.popup-content {
  background-color: #043550;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #115173;
  width: 70%;
  color: white;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
  position: relative;
  border-radius: 15px;
}

.popup-content h2 {
  text-align: center;
  grid-column: span 2;
  color: #ffd700;
}

.popup-content .close {
  position: absolute;
  top: 0;
  right: 0;
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  margin-right: 8px;
}

.popup-content label {
  display: block;
  margin-bottom: 10px;
}

.popup-content input {
  width: 150%;
  padding: 6px;
  box-sizing: border-box;
  margin-bottom: 5px;
  margin-left: -50%;
  border-radius: 10px;
}
.popup-content button {
  grid-column: span 2;
  background-color: #115173;
  color: white;
  padding: 15px;
  border: none;
  cursor: pointer;
  border-radius: 15px;
  justify-self: center;
}

.popup-content button:hover {
  background-color: #ffd700;
  color: black;
}

/* popup erreur connexion */

#popup-erreur {
  width: 300px;
  height: 140px;
  background-color: #115173;
  border: 1px solid #ffd700;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 10%;

  overflow: hidden;
  color: #fff;
}

#popup-erreur h2 {
  text-align: center;
  color: #ffd700;
  margin-bottom: 2px;
}

#popup-erreur p {
  text-align: center;
}

#closePopup-erreur {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  color: #ccc;
  font-size: 20px;
}

/* ... Popup de connexion ... */

.popup2 {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.popup2 .popup-content {
  background-color: #043550;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #115173;
  width: 80%;
  color: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
  position: relative;
  border-radius: 15px;
}

.popup2 .popup-content h2 {
  text-align: center;
  grid-column: span 3;
  color: #ffd700;
}

/* Styles pour les libellés */
.popup2 .popup-content label {
  display: block;
  margin-bottom: 10px;
  grid-column: span 1;
}

/* Styles pour les champs de saisie */
.popup2 .popup-content input {
  width: 110%;
  padding: 5px;
  box-sizing: border-box;
  margin-bottom: 5px;
  border-radius: 10px;
  grid-column: span 2;
  margin-left: -15%;
}

/* Groupe d'entrées (label + input) */
.popup2 .popup-content .input-group {
  display: grid;
  gap: 8px;
  grid-template-columns: 1fr 2fr;
  grid-column: span 3;
}

/* Styles pour le bouton */
.popup2 .popup-content button {
  grid-column: span 3;
  background-color: #115173;
  color: white;
  padding: 15px;
  border: none;
  cursor: pointer;
  border-radius: 15px;
  justify-self: center;
  margin-top: 10px;
}

/* Styles pour le lien "Mot de passe oublié" */
.popup2 .popup-content a {
  color: #ffd700;
  text-decoration: none;
  font-size: 14px;
  display: block;
  text-align: center;
  margin-top: 10px;
  grid-column: span 3;
}
.popup2 .popup-content button:hover {
  background-color: #ffd700;
  color: black;
}

/*Popup Mots de pass oublié*/

/* Popup de Réinitialisation du Mot de Passe */
.popup3 {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.popup3 .popup-content {
  background-color: #043550;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #115173;
  width: 50%;
  color: white;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
  position: relative;
  border-radius: 15px;
}

/* Centrer le texte dans la grille sur 2 colonnes */
.popup3 .popup-content h2 {
  text-align: center;
  grid-column: span 2;
  color: #ffd700;
}

/* Styles pour les libellés */
.popup3 .popup-content label {
  display: block;
  margin-bottom: 10px;
}

/* Styles pour les champs de saisie */
.popup3 .popup-content input {
  width: 130%;
  padding: 3px;
  box-sizing: border-box;
  margin-bottom: 5px;
  border-radius: 10px;
}

/* Styles pour le bouton de réinitialisation */
.popup3 .popup-content button {
  grid-column: span 2;
  background-color: #115173;
  color: white;
  padding: 15px;
  border: none;
  cursor: pointer;
  border-radius: 15px;
  justify-self: center;
  margin-top: 10px;
}

/* Styles pour le bouton au survol */
.popup3 .popup-content button:hover {
  background-color: #ffd700;
  color: black;
}

/* Styles pour le bouton de fermeture */
.popup3 .popup-content .close {
  position: absolute;
  top: 0;
  right: 0;
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  margin-right: 8px;
}

/* Styles pour les groupes d'entrées (label + input) */
.popup3 .popup-content .input-group {
  display: grid;
  gap: 8px;
  grid-template-columns: 1fr;
  grid-column: span 2;
}

/* Styles pour le lien "Mot de passe oublié" */
.popup3 .popup-content a {
  color: #ffd700;
  text-decoration: none;
  font-size: 14px;
  display: block;
  text-align: center;
  margin-top: 10px;
  grid-column: span 2;
}

/* Styles pour le bouton au survol */
.popup3 .popup-content a:hover {
  text-decoration: underline;
}

/* Popup Notification*/

#popup-notif {
  width: 300px;
  height: 140px;
  background-color: #115173;
  border: 1px solid #ffd700;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 10%;

  overflow: hidden;
  color: #fff;
}

#popup-notif h2 {
  text-align: center;
  color: #ffd700;
  margin-bottom: 2px;
}

#popup-notif p {
  text-align: center;
}

#closePopup-notif {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  color: #ccc;
  font-size: 20px;
}

/* popup importer photo */
.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #043550;
  color: white;
  border: 1px solid #115173;
  border-radius: 10px;
  z-index: 2;
}

.popup h2 {
  text-align: center;
  color: #ffd700;
}

.popup label,
.popup textarea {
  display: block;
  margin: 10px 0;
}

/* Utiliser la classe "popup-column" pour diviser les champs en deux colonnes */
.popup .popup-column {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

/* Ajuster la taille du champ de légende pour le rendre plus grand */
.popup textarea {
  width: 100%;
  height: 150px;
}

.popup button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
}

.popup button:hover {
  background-color: #ffd700;
  color: black;
}

/* ------------------------------ Fin des Pop up ---------------------------------------*/

/*////////////////code de Thibault /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

a {
  text-decoration: none;
}

.main {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main h1 {
  color: #ffff;
  margin-bottom: 50px;
}

.container-item {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  align-items: center;
  justify-items: center;
}

/* Pour les tablettes : 2 éléments par ligne */
@media only screen and (max-width: 1150px) {
  .container-item {
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 35px;
  }
}

/* Pour les téléphones : 1 élément par ligne */
@media only screen and (max-width: 750px) {
  .container-item {
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 50px;
  }
}

.item {
  background-color: #115173;
  width: 400px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: #ffff;
  box-shadow: 4px 4px 15px 0px rgba(0, 0, 0, 0.5);
}

.item .container-img {
  height: 50%;
  width: 100%;
  background-color: transparent;
}

.item .container-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.item .container-info {
  height: 50%;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.item .containter-info .info {
  padding: 10px;
}

.item .container-info .info .date-poste {
  text-align: center;
}

.item .container-info .info .titre-poste {
  font-size: 18px;
}
.item .container-info .info .auteur-poste {
  font-size: 17px;
}

.item .containter-info .info .description-poste {
  text-align: justify;
}

.item .container-info .see-more-poste {
  padding: 10px 20px;
  text-align: center;
  border: 0;
  background-color: #226c94;
  color: white;
  cursor: pointer;
  font-size: 15px;
  font-style: bold;
  transition: 0.3s ease-in-out;
}

.item .container-info .see-more-poste:hover {
  background-color: #3092c6;
}

.create-annonce {
  padding: 20px 30px;
  font-size: 20px;
  font-style: bold;
  position: fixed;
  bottom: 5%;
  right: 5%;
  border: 0;
  color: #ffff;
  background-color: #226c94;
  transition: 0.3s ease-in-out;
}

.create-annonce:hover {
  background-color: #3092c6;
}

/*////////////////FIN code de Thibault /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/*------------------code hugo --------------------------*/
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #053f5e;
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
}

.container-haut {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  margin-top: 50px;
}

.titre {
  text-align: center;
  color: white;
  font-size: 30px;
}

.titre text {
  align-items: center;
  justify-content: center;
}

.filter-container {
  padding: 10px;
}

.dropdown-btn {
  width: 124px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: #043550;
  color: #fff;
  border: 2px solid #043550;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #226c94;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  z-index: 1;
  text-align: center;
}

.dropdown-content a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #fff;
  border-bottom: 2px solid #226c94;
}

.dropdown-content a:hover {
  background-color: #043550;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.search-input {
  padding: 10px;
  font-size: 16px;
  width: 300px;
  height: 30px;
  border: 0;
  outline: 0;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  transition: 0.3s ease-in-out;
}

.search-button {
  height: 50px;
  width: 50px;
  padding: 10px;
  background-color: #226c94;
  color: #fff;
  border: none;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.search-button:hover {
  background-color: #3092c6;
}

.search-button img {
  width: 90%;
  height: 90%;
}

.container-item {
  display: grid;
  margin-top: 100px;
  justify-items: center;
}

.ligne {
  height: 300px;
  width: 1200px;
  display: grid;
  grid-template-columns: 25% 75%;
  align-items: center;
  justify-items: center;
  padding-bottom: 50px;
}

.container-photo {
  width: 50%;
  height: 50%;
}

.container-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.info {
  height: 280px;
  width: 90%;
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  justify-items: center;
}

.photo-info {
  background-color: #115173;
  width: 100%;
  height: 280px;
}

.photo-info img {
  width: 100%;
  height: 100%;
}

.texte-info {
  background-color: #115173;
  width: 100%;
  height: 100%;
}

.p1 {
  font-size: 20px;
  margin-top: 2%;
  margin-bottom: 0%;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
}
.p2 {
  font-size: 25px;
  margin-top: 2%;
  margin-bottom: 0%;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
}
.p3 {
  font-size: 16px;
  margin-top: 2%;
  margin-bottom: 0%;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
}
.p4 {
  font-size: 14px;
  margin-top: 2%;
  margin-bottom: 0%;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
}

.importer-photo {
  padding: 20px 30px;
  font-size: 20px;
  font-style: bold;
  position: fixed;
  bottom: 5%;
  right: 5%;
  border: 0;
  color: #ffff;
  background-color: #226c94;
  transition: 0.3s ease-in-out;
}

.importer-photo:hover {
  background-color: #3092c6;
}

/*---------------Fin code hugo --------------------------*/
